# Ambiente virtual
.venv/
env/
venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local SQLite (não sobe para o GitHub)
*.db
*.sqlite3

# Arquivos de ambiente e segredos
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/